.article_nav_bar
{
    display: flex;
    justify-content: space-evenly;
}

.byline
{
    text-align: center;
    font-family: var(--main-font);
}

.main_content
{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vw;
    
    border: 1px solid var(--fg-color);
    box-shadow: 0px 0px 10px black;
}

.article_header_1
{
    font-size: 1.75em;
    font-family: var(--header-font);
    padding-left: 10%;
    padding-right: 10%;
}

.article_image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.image_footnote
{
    text-align: center;
    font-family: var(--main-font);
    font-size: 1em;
}

.quote
{
    text-align: center;
    font-family: var(--main-font);
    background-color: var(--quote-bg-color);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.quote_author
{
    font-weight: bold;
}

@media screen and (width <= 720px) 
{
    .paragraph
    {
        font-size: 0.75em;
    }
    
    .main_content
    {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .image_footnote
    {
        font-size: 0.75em;
    }

    .quote
    {
        font-size: 0.75em;
    }
}