:root
{
    --bg-color: #f5e8e2;
    --fg-color: #7b5300;
    --quote-bg-color: #f5f5f4;
    --main-font: "LibreBaskerville";
    --header-font: "Aleo";
}

/* FONTS */
@font-face {
    font-family: NebulaSans;
    src: url(../assets/fonts/NebulaSans-Medium.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(../assets/fonts/Aleo-Medium.otf);
}

@font-face {
    font-family: LibreBaskerville;
    src: url(../assets/fonts/LibreBaskerville-Regular.ttf);
}

body
{
    background-color: var(--bg-color);
    color: var(--fg-color);
}

a
{
    color: var(--fg-color);
}

.jumbo_title
{
    text-align: center;
    font-size: 4em;
    font-family: var(--main-font);
}

.main_subheader
{
    font-size: 2em;
    text-align: center;
    font-family: var(--main-font);
}

.jumbo_image
{
    width: 720px;
}

.paragraph
{
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    font-family: var(--main-font);
}